.admin_bar {
  position: fixed;
  z-index: 1000;
  bottom: 80px;
  right: 60px;
  cursor: pointer;
}

.admin_bar__handler_img {
  max-width: 55px;
}

.admin_bar__item {
  border: 1px solid #818181;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: .3s;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: scale(0);
  
  &:hover {
    background: #e7e7ff;
  }

  img {
    max-width: 45px;
  }
}

.admin_bar.active {
  .admin_bar__item_1 {
    transform: scale(1) translateY(-105%);
    pointer-events: auto;
  }
}

@media (max-width: 1200px) {
  .admin_bar {
    right: 40px;
    bottom: 40px;
  }

  .admin_bar__item {
    width: 45px;
    height: 45px;

    img {
      max-width: 36px;
      width: 100%;
    }
  }

  .admin_bar__handler_img {
    max-width: 45px;
  }
}